%header#header
  #header_inner

    #logo
      = link_to image_tag('logo.png', class: 'logo_image', alt: 'Ringland Swan'), root_path
      - if current_page?(root_path)
        %h1 Ringland Swan
      - else
        %h2 Ringland Swan

    #header_contact
      .header_contact_item
        %span Tel: 01603 869014
      .header_contact_item
        %span Email: info@ringlandswan.co.uk

    #main_menu
      - Page.menu.each do |page|
        = link_to page.menu_name, page

    #menu_toggle
      .menu_bar
      .menu_bar
      .menu_bar
