- provide :title, @page.page_title
- provide :meta, @page.meta_description
- content_for :full_width do
  #banner_wrapper
    = page_banner @page
.page_columns
  .main_column
    %h1 Thank you for your enquiry
    %p One of our team will take a look and get back to you shortly.
    = link_to 'Back to home', root_path